@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@290&display=swap');

*{

  transition: all .2s linear;
  text-decoration: none;
  font-family: 'Raleway';
  box-sizing: border-box;
  margin:0; padding:0;
  font-size: 3rem;

}
body
{
  overflow-x: hidden;
}

.navi{
height: 100%;
width: 100vw;
overflow: hidden;
display: flex;
justify-content: space-between;
position: fixed;
z-index:10 ;

}

.navi .logo{
    
    text-align: left;
    cursor: pointer;
    transition: linear;
}


.navi .list
{
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    position: absolute;
    right: 20%;

}

.navi .list li{
    margin: 0 10px;
    padding: 20px;
    font-size: 2rem;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 140, 140);

}
.navi .list li a{
    font-size: 1.2rem;
    color: rgb(255, 140, 140);

}
.navi .list li a:hover{
  opacity: .9;
  color:rgb(0, 0, 0);
  letter-spacing: 5px;
  word-spacing: 0cm;


}
.navi .get 
{
  margin: 0.8cm;
  
}
.navi .get a
{
 
background:linear-gradient(90deg, rgb(252, 125, 125) ,rgb(255, 27, 27),rgb(255, 8, 8));
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border-radius: 40px ;
font-size: 1rem;
padding: 12px 24px;
cursor: pointer;
color: rgb(241, 241, 241);
opacity: 0.8;
}
.navi .get a:hover
{
  letter-spacing: 0.09cm;
  
  opacity: 0.5;
}



/*nav ends*/

/*home*/
.home{
  
    height: 100vh;
    width: 100vw;
    background:linear-gradient(rgb(255, 8, 8), rgb(138, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    overflow:hidden;
  }
  .home .content{
     
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: rgb(168, 168, 168);
  }

  .home .content h1{
     
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 7rem;
    font-weight:bolder;
}
  .home .content .btn {
   
    color: rgb(247, 247, 247);
    font-size: .6rem;
    font-weight: 200;
    position: relative;
  }
  .home .content .btn h2 .fp:hover
  {
    opacity: 0.5;
    cursor: pointer;
  }


  .home .fa-globe{
    position: absolute;
    font-size: 30rem;
    opacity: .15;
    color:#fff;
    animation: rotate 6s linear infinite;
  }

  .home .nut1{
    top:5%; left: -10rem;
  }
  
  .home .nut2{
    bottom:10%; right: -13rem;
  }
  
  @keyframes rotate{
    100%{
      transform: rotate(360deg);
    }
  }
  .home .fa
  {
      height: 3rem;
      width: 2rem;
      font-size: 8rem;
  }
.home .content .wv
{
    
    position:absolute;
  bottom: -0.5rem;
  left: 0;
  height:9rem;
  width: 100rem;
  background: url(imgs/wave.png);
  background-size: 100rem 9rem;
  animation:waves 5s linear infinite;

}
.home .content .wave1
{
    
    animation:waves 6s linear infinite;
    animation-direction: reverse;
    opacity: .2;
}
.home .content .wave2
{
    
    animation:waves 4s linear infinite;
    animation-direction: reverse;
    opacity: 1;
}
.home .content .wave3
{
    
  animation:waves 3s linear infinite;
  animation-direction: reverse;
    opacity: .4;
}

@keyframes waves
{
   
   
      100%{
        background-position-x: 100rem;
      }
}
/*home ends*/

/*about us*/
.abt
{
  width: 100vw;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  justify-content: space-between;
  background: linear-gradient(rgb(95, 0, 0),rgb(165, 0, 0),rgb(145, 0, 0));
  border-radius: 0rem;
  position: relative;
}
.abt .head
{
  color: rgb(173, 173, 173);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  top:-0.1%; bottom: 20%;
}

.abt::before{
  height:40rem;
  width:40rem;
  background:rgb(255, 255, 255);
  bottom:-10rem; left:-10rem;
  content: '';
  position: absolute;
  z-index: 1;
  opacity:.2;
  border-radius: 50%;
}

.abt::after{
  height:40rem;
  width:40rem;
  background:rgb(255, 255, 255);
  top:-10rem; right:-10rem;
  content: '';
  position: absolute;
  z-index: 1;
  opacity:.2;
  border-radius: 50%;
}

.abt .row
{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.abt .row .set1
{
  position: relative;
  padding-inline: 8rem;
  z-index: 2;
  
  
}
.abt .row .img1
{
   position: relative;
   bottom: 80%;
}
.abt .row .me1 h6
{
  position: absolute;
  padding-inline: 11rem;
  padding-top: 3rem;
 color: aqua;
 
}
.abt .row .me1 p
{
  position: relative;
}
.abt .row .img1 img
{
  width: 38vh;
  height:50vh;
  border-radius: 50px;
  opacity: 1;
}


.abt .row .me1 h6{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  position: absolute;
  bottom: 0%; top: 80%;
  left: 12%;
}
.abt .row .set1 .me1 p{

  color: rgb(255, 255, 255);
  font-size: 1.5rem;
text-align: center;
justify-content: center;
position: absolute;
bottom: 1.5%;top: 110%;
}

/*service*/

.serv
{
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  justify-content: center;
  background: linear-gradient(rgb(95, 0, 0),rgb(165, 0, 0),rgb(145, 0, 0));
  position: relative;
}
.serv .content .row 
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.serv .content .row .web1
{
  height: 10cm;
  width: 8cm;
  background-color: rgb(255, 255, 255);
  margin:7rem 5rem;
  position: relative;
  overflow: hidden;
  -webkit-box-reflect: below .1rem linear-gradient(transparent 80%,  #0004);
}


.serv .content .row .web1 img
{
  height:13rem;
  width:13rem;
  box-shadow: 0 0 .5rem rgba(0,0,0,.3);
}

.serv .content .row .web1 h3
{

  position: absolute;
  justify-content: center;
  top:45%;
  right: 24%;
  color: rgb(197, 0, 0);
} 

.serv .content .row .web1 p
{
  font-weight: 1000;
  line-height: 200%;
  color: rgb(0, 0, 0);
} 

.con{
  
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(rgb(95, 0, 0),rgb(165, 0, 0),rgb(145, 0, 0));
  position: relative;
  margin: 0;
}
.con .medias
{
  position: absolute;
  top: 40%;right: 25%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;

}


.con  .medias .fb img
{
  
  height:4.8cm;
  width: 6cm;
 
}
.con  .medias .insta img
{
  
  height:4.8cm;
 
}
.con  .medias .tw img
{
  
  height:4.8cm;
 
}

.con  .medias .fb img:hover
{
  
  opacity: 0.5;
}
.con  .medias .insta img:hover
{
  
  opacity: 0.5;
  
 
}
.con  .medias .tw img:hover
{
  
  opacity: 0.5;
 
}

.con  .medias .no{
  position: absolute;
  top: 170%;
  color: rgb(255, 255, 255);
  font-size: 5rem;
}




